<h1>Editing dept</h1>

<% form_for :dept, @dept, :url => { :action => "update"}, :html => { :method => :put} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_dept_path(@dept) %> |
<%= link_to 'Back', admin_depts_path %>