<h1>Editing dept</h1>

<% form_for(@dept) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @dept %> |
<%= link_to 'Back', depts_path %>