<h1>Listing depts</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @depts.each do |dept| %>
  <tr>
    <td><%=h dept.name %></td>
    <td><%= link_to 'Show', dept %></td>
    <td><%= link_to 'Edit', edit_dept_path(dept) %></td>
    <td><%= link_to 'Destroy', dept, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dept', new_dept_path %>