<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>城嬉大學: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>

  <%= stylesheet_link_tag "formtastic" %>
  <%= stylesheet_link_tag "formtastic_changes" %>
</head>
<body>
<%= link_to "科系", depts_path %> |
<%= link_to "老師", teachers_path %> |
<%= link_to "學生", students_path %> |
<%= link_to "課程", courses_path %> |

    <% if current_user %>
      <%= link_to "Logout", logout_url %>
    <% else %>
      <%= link_to "Sign up", new_user_url %>
      |
      <%= link_to "Sign in", login_url %>
    <% end %>
<!--
<hr>
▼ 一 ▼
  <p style="color: green"><%= flash[:notice] %></p>
  <%= yield %>
▲ 一 ▲
-->
<hr>
▼ 二 ▼
<p style="color: green">
  <% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => key %>
  <% end %>
</p>
  <%= yield :layout %>
▲ 二 ▲
<hr>


<%= 
RedCloth.new("
h1. Give RedCloth a try!

A *simple* paragraph with
a line break, some _emphasis_ and a \"link\":http://redcloth.org

* an item
* and another

# one
# two
"
).to_html
%>


</body>
</html>
